<xf:title>{{ phrase('hardmob_afiliados_stores_nav') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-header">
            <div class="block-header-controls">
                <xf:button href="{{ link('affiliates/add') }}" class="button--primary" icon="add">
                    {{ phrase('hardmob_afiliados_add_store') }}
                </xf:button>
            </div>
        </div>
        
        <div class="block-body">
            <xf:if is="count($stores)">
                <div class="structItemContainer">
                    <xf:foreach loop="$stores" value="$store">
                        <div class="structItem">
                            <div class="structItem-cell structItem-cell--main">
                                <div class="structItem-title">
                                    <a href="{{ link('affiliates/edit', $store) }}">
                                        {{ $store.name }}
                                    </a>
                                </div>
                                <div class="structItem-minor">
                                    {{ $store.domain }}
                                </div>
                            </div>
                            
                            <div class="structItem-cell structItem-cell--meta">
                                <xf:if is="$store.status == 'active'">
                                    <span class="label label--green">{{ phrase('hardmob_afiliados_store_active') }}</span>
                                <xf:else />
                                    <span class="label label--red">{{ phrase('hardmob_afiliados_store_inactive') }}</span>
                                </xf:if>
                            </div>
                            
                            <div class="structItem-cell structItem-cell--action">
                                <xf:button href="{{ link('affiliates/edit', $store) }}" icon="edit" overlay="true">
                                    {{ phrase('edit') }}
                                </xf:button>
                                <xf:button href="{{ link('affiliates/delete', $store) }}" icon="delete" overlay="true">
                                    {{ phrase('delete') }}
                                </xf:button>
                            </div>
                        </div>
                    </xf:foreach>
                </div>
            <xf:else />
                <div class="blockMessage">
                    {{ phrase('no_items_to_display') }}
                </div>
            </xf:if>
        </div>
    </div>
</div>
